{% extends "base.html" %}

{% block title %}
        <title>About | Dundas Links</title>
{% endblock %}

{% block content %}
        <div id="pageID" data-page='about'></div>
        <div class="row">
            <div class="medium-2 small-12 centerIt columns">
                <h1>Who?</h1>
            </div>
            <div class="medium-10 small-12 columns">
                <p>
                    We are a small company based in Edinburgh. We have setup Dundas Links as part of a Young Enterprise scheme, but have since left the competition after competing in the Scotland finals. We have decided to continue running our company as we feel that our product and idea have a lot of potential. We feel a responsibility to not give up on our business.
                </p><p>
                    Our team consists of 9 members each with a special designated responsibility such as sales, marketing, IT, production etc. This way we ensure that every setback we face is tackled by people experienced in dealing in with issues in their category.
                </p><p>
                    All our staff consists of students between the ages of 16 and 18 and Dundas Links has been a project that we have all put a lot of our time and energy into. We are determined to continue running this business and taking it as far forward as it will possibly go. Our whole team is extremely dedicated and although, we may not be the best businessmen, businesswomen or fashion designers, we are committed to providing the best possible goods and gaining your satisfaction.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="medium-2 small-12 centerIt columns">
                <h1>What?</h1>
            </div>
            <div class="medium-10 small-12 columns">
                <p>
                    Young Enterprise is a project which encourages students to set up their own businesses by developing, manufacturing and marketing their own products. Schools all across the UK compete with each other fiercely to make the most original and successful product. Our company has won the finals for the Edinburgh and Lothian area and performed extremely well in the Scotland finals in Glasgow. We have since separated from Young Enterprise and decided to face the world of business on our own. We have carefully listened to all advice given to us by teachers and Young Enterprise staff and have used it to build and maintain Dundas Links since then.
                </p><p>
                    Our product is carefully designed and manufactured novelty cuff links featuring recycled shotgun shells and a range of coins from the 20th century. We source the materials for local antique shops and shooting societies. We believe that the reason why our product was so successful during the competition was because of all the time and effort we put into creating every single cuff link and the strong presence in the market that our company has been able to establish over it's lifetime.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="medium-2 small-12 centerIt columns">
                <h1>Why?</h1>
            </div>
            <div class="medium-10 small-12 columns">
                <p>
                    Dundas Links strives to make the best quality cuff links for our customers and be a successful business enterprise. 
                </p><p>
                    However, as a team we are extremely excited to try and tackle the world of business by running our own company and making all the decisions by ourselves. Already, running this company has taught us a lot about teamwork, leadership, cooperation. We have learned to settle company disputes (both internal and external) with consideration of other parties' position and to never let our quality standards slip. We know that there is much more that we will learn from this experience and so we will continue to run this business no matter what.
                </p>
            </div>

        </div>
{% endblock %}