{% extends "base.html" %}

{% block title %}
        <title>Products | Dundas Links</title>
{% endblock %}

{% block content %}
        <div id="pageID" data-page='products'></div>
        <div class="row">
            <div class="medium-2  small-12 centerIt columns">
                <h1>Products</h1>
            </div>
            <div class="medium-10 small-12  columns">
                <p>
                    All our products are hand crafted and carefully tested and inspected by the production team. We guarantee high quality and a long lifetime of every cuff link. We sell our product using an online service called Gumroad to guarantee safety and security during your purchase.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="medium-6  small-12 centerIt columns">
<script type="text/javascript" src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed" data-gumroad-product-id="ruMfV" data-outbound-embed="true"><a href="https://gumroad.com/l/ruMfV">Loading...</a></div>
            </div>
            <div class="medium-6  small-12 centerIt columns">
<script type="text/javascript" src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed" data-gumroad-product-id="yBcH" data-outbound-embed="true"><a href="https://gumroad.com/l/yBcH">Loading...</a></div>
            </div>
        </div>
        <div class="row">
            <div class="medium-6  small-12 centerIt columns">
<script type="text/javascript" src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed" data-gumroad-product-id="rSCIm" data-outbound-embed="true"><a href="https://gumroad.com/l/rSCIm">Loading...</a></div>
            </div>
            <div class="medium-6  small-12 centerIt columns">
<script type="text/javascript" src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed" data-gumroad-product-id="qNGa" data-outbound-embed="true"><a href="https://gumroad.com/l/qNGa">Loading...</a></div>
            </div>
        </div>
{% endblock %}