{% extends "base.html" %}
{%load humanize%}

{% block title %}
        <title>News | Dundas Links</title>
{% endblock %}

{% block content %}
        <div id="pageID" data-page='news'></div>
        <div class="row">
            <div class="small-12 medium-6 columns">
                    <h3>News</h3>
            </div>
            <div class="small-12 medium-6 columns">
                <a target="_blank" href="https://twitter.com/dundaslinks" class="button small right Twitter">Twitter Feed</a>
                <a target="_blank" href="https://www.facebook.com/dundaslinks" class="button small right Facebook">Facebook Feed</a>
            </div>
        </div>
        <div class="row ">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-3" data-equalizer>
                {% for e in entries%}
                    <li><div id="{{e.id}}" class="panel" data-equalizer-watch>
                        <h2>{{e.title}}</h2>
                        <small>{{e.pub_date|naturaltime}}</small>
                        <p>{{e.text|safe|linebreaks}}</p>
                    </div></li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}

{% block after%}
    <script src="/static/js/foundation/foundation.equalizer.js"></script>
{% endblock %}
